# exclude yocto build artifacts
build/bitbake-cookerdaemon.log
build/bitbake.lock
build/cache/
# you may cache downloads to the following location after a successful build
#build/downloads/
build/sstate-cache/
build/tmp/
Dockerfile
